.autocomplete-comp {
  position: absolute;
  left: 1rem;
  top: 6rem;

  .country-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px !important;
    margin-bottom: 1rem;

    &:nth-child(n+2) {
      margin-left: 0.5rem;
    }
    button:active {
      border-radius: 16px !important;
    }
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
  }
}

.react-autosuggest__input {
  width: 250px;
  margin-bottom: 1rem;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: relative;
  top: -1px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}