@import "~bootstrap/scss/bootstrap";

// @import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-css-only/css/bootstrap.min.css';
@import 'mdbreact/dist/css/mdb.css';

@import "./scss/floating-panel";
@import "./scss/search-2d.scss";
@import "./scss/cur-location-btn.scss";
@import "./scss/pac-card.scss";
@import "./scss/project-panel.scss";

// override css of mdbreact
.btn {
  text-transform: unset !important;
}

.group-container {
  flex-direction: column;
  position: absolute;
  top: 7rem;
  left: 1rem;
  // height: calc(100vh - 16rem);

  .list-group {
    width: 250px;
    border-radius: 0 !important;

    .list-group-item {
      border-radius: 0 !important;

      & + .list-group-item {
        padding-left: 1.9rem !important;
      }
    }
  }

  .country-name {
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}
.control-btns {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 0;
  .search-input{
    width:20%;
    .search-location-input{
        .pac-target-input{
          padding-right:20px;
        }
    }
  }
  .search-btn {
    margin-left: -20px;
    .text {
      color: white;
      padding: 0 5px;
    }
  }


  .find-location {
    margin-left: 1rem;
    padding: .28rem 1.1em !important;
    display: flex;
    align-items: center;
    color: #42a5f5 ;
    .text {
      font-size:15px;
      color: white;
      border-radius:5px;
    }
    .fa-2x {
      font-size: 1.1rem !important;
    }
    padding:7px!important;
    border-radius: 5px;
  }
}

.search-location-input {
  display: flex;
  align-items: center;
}

.cesium-infoBox,
.cesium-viewer-bottom,
.cesium-viewer-toolbar,
.cesium-viewer-fullscreenContainer {
  display: none!important;
}

#map {
  height: 100%;
}

$infor-nav-width: 280px;
$control-width: 40px;
.move-below-control-btns {
  right: calc(#{$control-width} + #{$infor-nav-width}) !important;
  bottom: 334px !important; //fix me
}
.move-switch-map-btns {
  right: calc(#{ $infor-nav-width } + 52px);
  left: auto !important;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-90w {
  width: 90%;
  max-width: none!important;
  height: 90vh;
}

.modal-content {
  height: 100%;
}

.map-modal {
  padding: 0;
}

// 
.top-nav-overlay{
  width: 40%;
  position: absolute;
  top: -100px;
  z-index: 5;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  padding-left: 10px;
  text-align: left;
  box-sizing: border-box;
  padding-bottom: 0;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.list-btn-box{
    letter-spacing: -4px;
}
.list-btn-box button{
  padding: 10px 8px;
  font-size: 16px;
  margin-left: -1px;

}
.list-btn-box button span{
  display: block;
   font-size: 16px;
}
.top-nav-overlay .first-box{
  float: left;
  width: 46%;
  text-align: center;
}
.top-nav-overlay .left-btn{
    display: inline-block;
    background-color: #ffffff;
    min-height: 56px;
    width: 56px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #4cb2ed;
    position: relative;
    padding-top: 9px;
    box-sizing: border-box;
}
.heart-btn i:hover{
  color: #2281d4;
}
.left-arrow-btn{
    margin-left: 20%;
    margin-right: 10%;
}
.left-btn i{
   font-size: 37px;
   left: 0;
   right: 0;
   color: #e31460;
   -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.left-arrow-btn i{
  color: #4cb2ed;
}
.left-arrow-btn i:hover{
  color: #e31460;
}
.clearfix{
  clear: both;
}
/*begin according menu*/
.accordion-menu{
  position: absolute;
  top: 60px;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #ffffff;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
button.accordion{
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight:bold;
  padding:15px 0;
}
button.accordion svg{
  vertical-align: middle;
}
/*according menu*/
.accordion-menu .panel{
  display: none;
}
.accordion-menu .panel p{
  padding-left: 40px;
}
.accordion-menu .item{
  margin-left: 10px;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.accordion-menu .item .bottom-arrow{
  position: absolute;
  right: 10px;
  top: 15px;
  // //////
  display: inline-block; width: 1em; height: 1em; font-size: 20px; color: inherit; fill: currentcolor;
}
.bottom-arrow-common {
  display: inline-block; width: 1em; height: 1em; font-size: 24px; color: inherit; fill: currentcolor;
}
.bottom-arrow-common2 {
  display: inline-block; width: 1em; height: 1em; font-size: 20px; color: inherit; fill: currentcolor;
}

.top-arrow{
   -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg);
}


/*begin slider thumb*/
.slider-thumbnails{
    background-color: #000000;
    position: absolute;
    padding: 1rem 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 99;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;

}
.slider-thumbnails .inner-box{
  margin: 0 -7.5px;
}
.slider-thumbnails .item{
  float: left;
  box-sizing: border-box;
  width: 14.2%;
  padding:0 7.5px;
  overflow: hidden;
}
.slider-thumbnails .inner-item{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
  position: relative;
     -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider-thumbnails .inner-item i{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: rgba(1,1,1,0.8);
  opacity: 0;
   -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.slider-thumbnails .inner-item:hover{
  cursor: pointer;
   transform: scale(1.2);
}
.slider-thumbnails .inner-item:hover i{
  display: block;
  opacity: 1;
}

.inner-item1 {
  background-image: url('./images/thumb1.jpg');
}
.inner-item2 {
  background-image: url('./images/thumb4.jpg');
}
.inner-item3 {
  background-image: url('./images/thumb2.jpg');
}
.inner-item4 {
  background-image: url('./images/thumb3.jpg');
}
.inner-item5 {
  background-image: url('./images/thumb6.jpg');
}
.inner-item6 {
  background-image: url('./images/thumb6.jpg');
}
.inner-item6 {
  background-image: url('./images/thumb7.jpg');
}


/*begin infor-nav */
.infor-nav{
  width:340px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
  background-color:#ffffff;
  font-size:14px;
}

.detail-location{
  text-align: right;
}
.detail-location p{
  margin:0;
}
.detail-location p:nth-child(2) a{
  margin-right: 20px;
}
.detail-location a{
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  color: #3377cc;
}
.detail-location a svg{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.detail-location{
  background-color: #ffffff;
  padding-bottom: 20px;
  margin-bottom: 3px;
}
.detail-location-info {
  padding: 0 5px;
}
.price-infor{
  background-color: #ffffff;
  padding: 5px;
  box-sizing: border-box;

  p {
    margin: 0.5rem 0;
  }
}
.price-infor .price{
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}
.price-infor p:first-child a{
  text-decoration: none;
}
.price-infor p:first-child a svg{
  vertical-align: bottom;
}
.price-infor p:first-child .payment-txt{
    color: #757575;
    font-size: 12px;
}
.price-infor p:nth-child(2) span{
  margin-right: 30px;
} 
.price-infor p:nth-child(2) span strong{
  padding-right: 5px;
}
.price-infor .txt{
  font-weight: 400;
  color: #757575;
  margin-left: 5px;
}
.detail-location,
.price-infor,
.common-price{
  border-bottom: 3px solid rgba(1,1,1,0.8);
}
// 
.icon-car {
  display:inline-block;
  width:1em;height:1em;
  font-size:16px;color:inherit;fill:currentColor;
}
.icon-ear {
  display: inline-block; width: 1em; height: 1em; font-size: 20px; color: inherit; fill: currentcolor;
}
.icon-info{
  display: inline-block; width: 1em; height: 1em; font-size: 16px; color: rgb(193, 193, 193); fill: currentcolor;
}
.icon-flood {
  display:inline-block;width:1em;height:1em;font-size:16px;color:inherit;fill:currentColor
}
.new-txt {
  background-color:#43a11f;color:#ffffff;padding: 2px;box-sizing: border-box; 
}
.icon-calculator {
  display:inline-block;width:1em;height:1em;font-size:24px;color:#333333;fill:currentColor
}
.chevron-down {
  display:inline-block;width:1em;height:1em;font-size:18px;color:inherit;fill:currentColor
}
//
.common-price{
  margin-top: 3px;
  background-color: #ffffff;
   padding: 3px 10px;
   box-sizing: border-box;

  p {
    margin: 0.2rem 0;
  }
}
.common-price span{
  display: inline-block;
}
.common-price .lb{
    color: #999;    
    font-weight: 400;
    float: left;
}
.common-price .vl{
  float: right;
  font-weight: 500;
}
.qa{
  background-color: #ffffff;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}
.qa a{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  vertical-align: text-top;
  text-decoration: none;
  font-size: 14px;
}
.qa .question{
  color: #fff;
  background-color: #d92228;
  border-color: #d92228;
}
.qa .answer{
  margin-left: 10px;
  border: 1px solid #0000ff;
  padding: 3px;
  border-radius: 5px;
}
.qa .answer-value{
    text-transform:capitalize;
    font-weight:bold;
}
.qa a svg{
  vertical-align: middle;
}
.qa .answer span{
    color: #0000ff;
}
.qa .list-answer{
  position: absolute;
  top:100%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.42); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.42);
    width: 200px;
    padding:10px;
    left: 128px;
    display:none;
}
.popup-img{
  width: 50%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #ffffff;
  box-shadow: 7px 8px 5px -3px rgba(0,0,0,0.38);
  -webkit-box-shadow: 7px 8px 5px -3px rgba(0,0,0,0.38);
  -moz-box-shadow: 7px 8px 5px -3px rgba(0,0,0,0.38);
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
  margin: 3% auto;
  
}
.overlay-popup-img,
.overlay-popup-contact{
  position: fixed;
  top: -100%;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(1,1,1,0.9);
  z-index: 99999999999999999999;
   -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*end quynq custom*/

@media(max-width: 1600px) {
  .accordion-menu {
    max-height: 400px;
    overflow: auto;
  }
  .infor-nav {
    max-height: 480px;
    overflow: auto;
  }
  .slider-thumbnails {
    .inner-item{
      min-height:120px;
    }
  }
}
.modal-90w{
    width:100%;
    height:100%;
    margin:0;
  }
.move-full-screen-btn{
  right: 333px !important;
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom.move-below-control-btns,
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
  right: 373px !important;
  bottom: 335px !important;
  .gm-svpc{
      top: 28px!important;
  }
}
.gmnoprint.move-switch-map-btns{
   right: 376px !important;
}
.fade.modal.show{
  padding-left:0!important;
}
.btn-rgba-stylish-strong{
  position: fixed!important;
  top: 58px;
  left: 40%;
}

/*begin overlay-popup-contact*/
.overlay-popup-contact{
  .popup-inner{
      width:400px;
      margin:100px auto;
      border-radius: 4px;
      background-color: #eaeaea;
      padding: 14px 16px 10px 16px;
      .title{
        text-align: center;
        font-size: 18px;
      }
      .input-item{
          border: 1px solid #c4c4c4;
          background-color: #ffff;
          position: relative;
          margin-bottom:10px;
         .form-control{
            border:none;
            background-color: transparent;
            border: none;
            background-color: transparent;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-left: 30px;
         }
         svg{
            position: absolute;
            top: 4px;
            width: 20px;
            left: 5px;
         }
      }
      .checkbox-item,
      .btn-item,
      .note-item{
          border:initial;
          background-color: transparent;
      }  
      .textarea-item{
           .form-control{
             padding:10px!important;
             height: 70px;
          }
      }
      .btn-item{
          .btn{
                color: #fff;
                background-color: #d92228;
                border-color: #d92228;
                border-radius: 30px;
          }
      }
      .note-item{
          p{
              font-size:12px;
              text-align:justify;
          }
      }
    }
 }
 .acctive_drop{
    display:block;
 }

/*end overlay-popup-contact*/

/*end quynq custom*/
