@import "~bootstrap/scss/bootstrap";

@import "./scss/results";
@import "./scss/floating-panel";
@import "./scss/search-2d.scss";
@import "./scss/cur-location-btn.scss";
@import "./scss/pac-card.scss";

.group-container {
  position: absolute;
  top:50px;
}

.search-input {
  position: absolute;
  top: 0;
  right: 0;
}
.cesium-infoBox,
.cesium-viewer-bottom,
.cesium-viewer-toolbar,
.cesium-viewer-fullscreenContainer {
  display: none!important;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-90w {
  width: 90%;
  max-width: none!important;
  height: 90vh;
}

.modal-content {
  height: 100%;
}