$left-panel-with: 260px;
#floating-panel {
    display: flex;
    align-items: center;
    position: fixed;
    top: -100px;
    z-index: 5;
    text-align: center;
    font-family: "Roboto", "sans-serif";
      -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
  .panel-nav {
    width: $left-panel-with;
    margin-right: 3px;
    .nav-btns {
      background-color: white;
      display: flex;
      align-items: center;
      padding:3px 0;
      .left-btn{
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        border: 3px solid #6b5e62;
        position: relative;
        padding-top: 9px;
        box-sizing: border-box;
      }
      .left-btn i{
        font-size: 30px;
        left: 0;
        right: 0;
        color: #6b5e62;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      .left-arrow-btn i{
        color: #6b5e62;
      }
      .left-arrow-btn i:hover{
        color: #e31460;
      }
      .heart-btn i:hover{
        color: #2281d4;
      }
    }
  }
  
  .panel-controls {
    border: 1px solid #e1e1e1;
    border-top: 0;
    border-radius: 2px;
    overflow: hidden;
    font-size: 0.875rem;

    button {
      border: 0;
      padding: 6px 10px;
      background-color: white;
  
      &:hover {
        background-color: #f1f1f1;
      }
      &:nth-child(n + 2) {
        border-left: 1px solid #e1e1e1;
      }
    }
  }

  .panel-search {
    margin-left: 4rem;
    button {
      padding: 6px 10px;
      background-color: white;
    }
  }
}