/*begin overlay-popup-contact*/
.overlay-popup-contact{
  .popup-inner{
      width:400px;
      margin:100px auto;
      border-radius: 4px;
      background-color: #eaeaea;
      padding: 14px 16px 10px 16px;
      .title{
        text-align: center;
        font-size: 18px;
      }
      .input-item{
          border: 1px solid #c4c4c4;
          background-color: #ffff;
          position: relative;
          margin-bottom:10px;
         .form-control{
            border:none;
            background-color: transparent;
            border: none;
            background-color: transparent;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-left: 30px;
         }
         svg{
            position: absolute;
            top: 4px;
            width: 20px;
            left: 5px;
         }
      }
      .checkbox-item,
      .btn-item,
      .note-item{
          border:initial;
          background-color: transparent;
      }  
      .textarea-item{
           .form-control{
             padding:10px!important;
             height: 70px;
          }
      }
      .btn-item{
          .btn{
                color: #fff;
                background-color: #d92228;
                border-color: #d92228;
                border-radius: 30px;
          }
      }
      .note-item{
          p{
              font-size:12px;
              text-align:justify;
          }
      }
    }
  }
  .acctive_drop{
      display:block;
  }

/*end overlay-popup-contact*/